/*i chose a monochromatic color scheme*/

/*External Css for light mode*/

/*styling/CSS for the body of my html(Light Mode)*/
body {
  background-color: #f8f3e9;
  color: #4a4a4a;
  font-family: Arial, sans-serif;
  margin-top: 150px;
  letter-spacing: 0.3px;
  word-spacing: 1px;
  line-height: 1.6;
}

/*styling/css for all my unordered lists including navbar and funfacts(Light Mode) */
Ul {
  background-color: #ffdd99;
  color: #4a4a4a;
  margin: 1px;
  padding: 14px;
  text-align: center;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
}

/*styling/CSS so there isnt things like underline and bulletpoints for my lists unordered lists */
ul li {
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
}

/*styling/CSS including things for hiearchy and things that would affect how the words in my navbar would look  (Light Mode)*/
ul li a {
  text-decoration: none;
  padding: 45px;
  font-size: 19px;
  font-weight: bold;
  color: #5a3d2b;
  font-family: Arial, sans-serif;
}

/*styling/CSS so i can hover over my navbar (Light Mode)*/
nav ul li :hover {
  color: grey;
}

/*styling/CSS for the title of my pages  (Light Mode)*/
h1 {
  color: #5a3d2b;
  text-align: center;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
}

/*styling/CSS for the image/logo in my navbar (Light Mode)*/
ul li img {
  background-color: #ffdd99;
  vertical-align: middle;
}

/*styling/CSS  for my flexbox container(entire flexbox) and how my page is formated */
#Flexbox-and-how-it-will-look {
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

/*styling/CSS for my flexbox sidebar and how my page is formated (Light Mode)*/
.sidebars {
  flex: 1;
  background-color: #fce8c8;
  border: 2px solid #ffdd99;
  padding: 20px;
  color: #5a3d2b;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 19px;
}

/*styling/CSS for my flexbox and how my page is formated middle/main area (Light Mode)*/
#main-area {
  flex: 3;
  background-color: #fce8c8;
  border: 2px solid #ffdd99;
  padding: 20px;
  color: #5a3d2b;
  border-radius: 9px;
  font-size: 19px;
}

/*styling/CSS for the footer of my pages (Light Mode)*/
#footer {
  background-color: #ffdd99;
  margin: 5px;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

/*styling/CSS for my navbar to make it fixed and things to make fixed look good */
nav {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

/*styling/CSS for all the subheadings i used for my pages */
h2 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 38px;
}
/*styling/CSS for the base size of my font sizes */
html {
  font-size: 19px;
}

/*styling/CSS for the paragraphs in my body*/
p {
  font-size: 19px;
}
